# Exclude all Geoserver tmp folders
tmp
temp

# Exclude data folder => mounted as volume
data_dir/data

# Exclude all Geoserver logs
data_dir/logs/geoserver.log*

# Exclude all Geoserver "backup" files
.bak

data_dir/monitoring/*
!data_dir/monitoring/filter.properties
!data_dir/monitoring/monitor.properties

data_dir/gwc/*
!data_dir/gwc/geowebcache.xml
!data_dir/gwc/metadata.properties

.env.prod