<authKeyAuthentication>
  <id>-35760163:17bba7099cf:-7ffd</id>
  <name>authkey_filter</name>
  <className>org.geoserver.security.GeoServerAuthenticationKeyFilter</className>
  <authKeyMapperName>propertyMapper</authKeyMapperName>
  <authKeyParamName>authkey</authKeyParamName>
  <userGroupServiceName>default</userGroupServiceName>
</authKeyAuthentication>